body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

hr {
  height: 8px;
  background-image: repeating-linear-gradient(
      45deg,
      #ccc 0,
      #ccc 1px,
      transparent 0,
      transparent 50%
    ),
    repeating-linear-gradient(
      135deg,
      #ccc 0,
      #ccc 1px,
      transparent 0,
      transparent 50%
    );
  background-size: 8px 8px;
}
